<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403177983765-sm1gvc7qvuc7q2lnhd75dvbrvtvq6c93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403177983765-sm1gvc7qvuc7q2lnhd75dvbrvtvq6c93</string>
	<key>API_KEY</key>
	<string>AIzaSyCtibqS1gGf4W3MG2D9mCCLh7GwfIlZ874</string>
	<key>GCM_SENDER_ID</key>
	<string>403177983765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EshaanSharma.NewMedConnect</string>
	<key>PROJECT_ID</key>
	<string>officialmedconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>officialmedconnect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:403177983765:ios:6265786c2c440a19d8e31c</string>
</dict>
</plist>
